 .co{
    /* background: rgb(58,116,180);
background: linear-gradient(90deg, rgba(58,116,180,1) 0%, rgba(228,29,253,1) 48%); */
/* background: rgb(58,116,180); */
/* background: linear-gradient(90deg, rgba(58,116,180,1) 0%, rgba(29,252,253,1) 48%); */
 }
  .container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 20px; */
  }
  
 
  .hero {
    background-image: url('https://img.freepik.com/premium-photo/cute-group-pets_818056-2374.jpg');
    background-size: cover;
    background-position: right;
    color: #ba1313;
    width: 100%;
    height: 700px;

  }
  

  
  .btnPrimary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0ac6df;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btnPrimary:hover {
    background-color: #c62121;
  }
  
  .aboutContent {
    text-align: center;
  }
  
  .btnSecondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btnSecondary:hover {
    background-color: #555;
  }
  
  .featuredProducts {
    padding: 30px 0;
  }
  
  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 100%;
    border-radius: 5px;
  }
  
  .product h3 {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .product p {
    color: #ebebeb;
  }
  

  